# Core ML Stack (CPU version for local dev)
torch --index-url https://download.pytorch.org/whl/cpu
transformers
tokenizers
datasets

# Data Processing & Math
numpy
pandas
music21
tqdm

# Environment
jupyterlab
ipykernel

# Developer Tooling
ruff
mypy
pre-commit

# web scraping
beautifulsoup4
requests
